

.portofolio-topCard{
    /* border: 2px solid red; */
    height: 500px;
    width:100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-top: 5px solid var(--color1);
    border-left: 5px solid var(--color1);
    border-right: 5px solid var(--color5);
    border-bottom: 10px solid var(--color4);
}


.infinite-scroll-portofolio{
    margin-top:7em;
}

.portofolio-left {
    padding-top: 4em;
    padding-left: 6em;
}

.portofolio-right {
    margin-right: 5em;
}

.portofolio-right img{
    height:500px;
    border-radius: 30%;
    background-color: var(--color5);
}
