.introInner p {
    position:absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right:0;
    text-align: center;
    opacity:0%;
}

.introInner{
    font-size: 6rem;
    display:block;
    /* border: 1px solid; */
    height:15vh;
    margin-top:40vh;
    z-index:3;
}

.introBacksheet{
    color: white;
    position:absolute;
    /* background-color: black; */
    background-color: var(--color1);
    height:100vh;
    width:100vw;
    left:0;
    top:0;
    z-index:2;
    animation: introBacksheet 1s ease-out forwards;
}

@keyframes introBacksheet{
    from {
        opacity:100%;
    }

    to {
        opacity: 0%;
        display: none;
    }
}

@keyframes introSlideInTop{
    0% {
        transform: translateY(-20px);
        opacity: 0%;
    }

    25%{
        transform: translateY(0);
        opacity:100%;
    }
    75%{
        transform: translateY(0);
        opacity:100%;
    }

    99%{
        opacity:0%;
    }

    100%{
        opacity:0%;
        display:none;
    }
}

.introSlideInTop{
    animation: introSlideInTop 2s ease-in forwards;
}

.introSlideInTop3s{
    animation: introSlideInTop 3s ease-in forwards;
}

.introDelay2s{
    animation-delay: 2s;
}

.introDelay4s{
    animation-delay: 4s;
}

.introDelay5s{
    animation-delay: 5s;
}

.introDelay6s{
    animation-delay: 6s;
}

.introDelay7s{
    animation-delay: 7s;
}

.introDelay8s{
    animation-delay: 8s;
}

.introDelay10s{
    animation-delay: 10s;
}

